[Unit]
Description=torrcli torrent daemon
After=network.target

[Service]
Type=simple
ExecStart=__PYTHON__ -m torrcli.daemon.daemon
Restart=on-failure
User=__USER__
StandardOutput=jounal
StandardError=journal
SyslogIdentifier=torrcli

[Install]
WantedBy=multi-user.target